<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--浏览器内核控制-->
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <!--强制让ie使用edge渲染,如果使用chrome则使用chrome内容渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <!--禁止百度进行手机转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--禁止浏览器从本地计算机的缓存中访问页面内容-->
    <meta http-equiv="Pragma" content="no-cache" />
    <!--
        搜索引擎索引方式
        all：文件将被检索，且页面上的链接可以被查询；
        none：文件将不被检索，且页面上的链接不可以被查询；
        index：文件将被检索；
        follow：页面上的链接可以被查询；
        noindex：文件将不被检索；
        nofollow：页面上的链接不可以被查询。
     -->
    <meta name="robots" content="index,follow" />
    <!--忽略数字自动识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--忽略识别邮箱-->
    <meta content="email=no" name="format-detection" />
    <title>关于我们</title>
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/reset.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/my/about.css" />
</head>
<body>
<header>
    <a href="javascript:window.history.back(-1);"><img class="display" src="__PUBLIC__/mobileApp/img/back.png" alt="后退" /></a>
    <span>关&nbsp;于&nbsp;我&nbsp;们</span>
</header>
<article>
    <section>
        <img src="__PUBLIC__/mobileApp/img/appLogo.png" alt="好收成平台" />
        <p>好收成</p>
        <p>版本号：v1.0.0</p>
    </section>
</article>
<script src="__PUBLIC__/mobileApp/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/mobileApp/js/common.js"></script>
<script src="__PUBLIC__/mobileApp/js/my/index.js"></script>
</body>
</html>