<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--浏览器内核控制-->
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <!--强制让ie使用edge渲染,如果使用chrome则使用chrome内容渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <!--禁止百度进行手机转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--禁止浏览器从本地计算机的缓存中访问页面内容-->
    <meta http-equiv="Pragma" content="no-cache" />
    <!--
        搜索引擎索引方式
        all：文件将被检索，且页面上的链接可以被查询；
        none：文件将不被检索，且页面上的链接不可以被查询；
        index：文件将被检索；
        follow：页面上的链接可以被查询；
        noindex：文件将不被检索；
        nofollow：页面上的链接不可以被查询。
     -->
    <meta name="robots" content="index,follow" />
    <!--忽略数字自动识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--忽略识别邮箱-->
    <meta content="email=no" name="format-detection" />
    <title>我的</title>
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/reset.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/my/password.css" />
</head>
<body>
<header>
    <a href="javascript:window.history.back(-1);"><img class="display" src="__PUBLIC__/mobileApp/img/back.png" alt="后退" /></a>
    <span>修&nbsp;改&nbsp;密&nbsp;码</span>
</header>
<article>
    <section>
       	<ul>
       		<li>
       			<label for="oldPassword">原密码</label>
       			<input name="oldPassword" id="oldPassword" type="password" />
       		</li>
       		<li>
       			<label for="newPassword">新密码</label>
       			<input name="newPassword" id="newPassword" type="password" />
       		</li>
       		<li>
       			<label for="rePassword">重新输入</label>
       			<input name="rePassword" id="rePassword" type="password" />
       		</li>
       		<li>
       			<button>确认修改</button>
       		</li>
       	</ul>
    </section>
</article>
<script src="__PUBLIC__/mobileApp/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/mobileApp/js/common.js"></script>
<script src="__PUBLIC__/mobileApp/js/my/index.js"></script>
</body>
</html>