<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>设置</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/admin/password.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>修改密码</h3>
        </div>
        <div>
            <div class="oldPassword">
                <label for="oldPassword">当前密码</label>
                <input type="password" name="oldPassword" id="oldPassword">
            </div>
            <div class="newPassword">
                <label for="newPassword">新密码&nbsp;&nbsp;&nbsp;</label>
                <input type="password" name="newPassword" id="newPassword">
            </div>
            <div class="confirmPassword">
                <label for="confirmPassword">确认新密码</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
        </div>
    </section>
    <section class="submit">
        <button id="submit">提交</button>
    </section>
</article>
</body>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/setData.js"></script>
<script src="/resources/js/getData_test.js"></script>
<script src="/resources/js/admin/editPassword.js"></script>
</html>