@charset "UTF-8";
body	{
	font-size: 20px;
	background-color: #DDD;
}
#top	{
	height: 50px;
}
#title	{
	font-size: 22px;
	text-align: center;
	letter-spacing: 20px;
	padding-left: 20px;
	background-color: rgb(83, 150, 81);
	line-height: 50px;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
}
ul	{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 50px;
	text-align: left;
}
li:nth-child(2n-1)	{
	clear: both;
	padding: 0 10px 0 10px;
	background-color: #DDD;
}
li:nth-child(2n)	{
	clear: both;
	padding: 0 10px 0 10px;
	background-color: #F0F0F0;
}
li > span:last-child	{
	float: right;
	color: #696969;
}

.h-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgb(221, 221, 221);
	text-align: center;
}
.h-back-button {
	width: 75%;
	margin: 10px;
	padding: 10px 0 10px 0;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	border-radius: 5px;
	color: white;
	background-color: rgb(67, 71, 72);
}