<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--浏览器内核控制-->
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <!--强制让ie使用edge渲染,如果使用chrome则使用chrome内容渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <!--禁止百度进行手机转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--禁止浏览器从本地计算机的缓存中访问页面内容-->
    <meta http-equiv="Pragma" content="no-cache" />
    <!--
        搜索引擎索引方式
        all：文件将被检索，且页面上的链接可以被查询；
        none：文件将不被检索，且页面上的链接不可以被查询；
        index：文件将被检索；
        follow：页面上的链接可以被查询；
        noindex：文件将不被检索；
        nofollow：页面上的链接不可以被查询。
     -->
    <meta name="robots" content="index,follow" />
    <!--忽略数字自动识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--忽略识别邮箱-->
    <meta content="email=no" name="format-detection" />
    <title>溯源</title>
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/reset.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/origin/index.css" />
</head>
<body>
<header>
    <img src="__PUBLIC__/mobileApp/img/back.png" alt="后退" />
    <span>溯&nbsp;源</span>
</header>
<article>
    <section>
        <div class="top">
            <div class="start"></div>
            <p>产品信息</p>
            <p><a href="{:U('MobileApp/Product/index')}">查看全部&nbsp;&gt;</a></p>
        </div>
        <div class="content" id="productInfo">
            <span>数据加载中...</span>
        </div>
    </section>
    <section>
        <div class="top">
            <div class="start"></div>
            <p>农事记录</p>
            <p><a href="javascript:void(0);">查看全部&nbsp;&gt;</a></p>
        </div>
        <div class="content" id="agrInfo">
            <span>数据加载中...</span>
            <!--<div>
                <div class="circle"></div>
                <p>2016年1月22日</p>
                <p>共计 12 条农事记录：播种3次，耕种5次，浇灌1次，浇灌1次</p>
            </div>
            <div>
                <div class="circle"></div>
                <p>2016年1月23日</p>
                <p>无农事记录</p>
            </div>-->
        </div>
    </section>
    <section>
        <div class="top">
            <div class="start"></div>
            <p>环境监测</p>
            <p><a href="javascript:void(0);">查看全部&nbsp;&gt;</a></p>
        </div>
        <div class="content" id="environmentInfo">
            <span>暂无数据</span>
            <!--<canvas id="environmentCanvas"></canvas>-->
        </div>
    </section>
    <section>
        <div class="top">
            <div class="start"></div>
            <p>视频监控</p>
            <p><a href="javascript:void(0);">查看全部&nbsp;&gt;</a></p>
        </div>
        <div class="content" id="videoInfo">
            <span>暂无数据</span>
            <!--<div>
                <video controls>
                    <source src="__PUBLIC__/mobileApp/video/movie.mp4" type="video/mp4" />
                </video>
                <span>徐家庄视频监控记录</span>
            </div>
            <div>
                <img src="#" alt="徐家庄视频监控" />
                <span>徐家庄视频监控记录</span>
            </div>-->
        </div>
    </section>
</article>
<footer>
    <a href="../Index/index.html">
        <section>
            <img src="__PUBLIC__/mobileApp/img/unhomeButton.png" alt="首页" />
            <span>首页</span>
        </section>
    </a>
    <a href="javascript:void(0);">
        <section>
            <img src="__PUBLIC__/mobileApp/img/originButton.png" alt="溯源" />
            <span>溯源</span>
        </section>
    </a>
    <a href="http://shequ.zmade.cn">
        <section>
            <img src="__PUBLIC__/mobileApp/img/unchatButton.png" alt="社区" />
            <span>社区</span>
        </section>
    </a>
    <a href="javascript:isLogin();">
        <section>
            <img src="__PUBLIC__/mobileApp/img/unservesButton.png" alt="我的" />
            <span>我的</span>
        </section>
    </a>
</footer>
<script src="__PUBLIC__/mobileApp/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/mobileApp/js/common.js"></script>
<script src="__PUBLIC__/mobileApp/js/Chart.js"></script>
<script src="__PUBLIC__/mobileApp/js/origin/index.js"></script>
</body>
</html>