<!DOCTYPE html>
<html lang="zh-HanS">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/style2.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/hMain.css" />
<script src="__PUBLIC__/Agriculture/js/jquery-2.1.3.js"></script>
<script src="__PUBLIC__/Agriculture/js/hMain-function.js"></script>
<script src="__PUBLIC__/Agriculture/js/sqlite.js"></script>
</head>
<body>
	<div class="hTop"></div>
	<div class="hTitle">
		<div class="h-Title-p">
		</div>
	</div>
	<div class="h-functions">
		<!--<div id="function10" class="h-functions-img h-float-left">-->
			<!--<img src="images/duifei.png" />-->
			<!--<p>堆肥</p>-->
		<!--</div>-->
		<!--<div id="function11" class="h-functions-img h-float-left">-->
			<!--<img src="images/gengdi.png" />-->
			<!--<p>耕地</p>-->
		<!--</div>-->
		<!--<div id="function12" class="h-functions-img h-float-left">-->
			<!--<img src="images/bozhong.png" />-->
			<!--<p>播种</p>-->
		<!--</div>-->
		<!--<div id="function13" class="h-functions-img h-float-left">-->
			<!--<img src="images/shifei.png" />-->
			<!--<p>施肥</p>-->
		<!--</div>-->
		<!--<div id="function14" class="h-functions-img h-float-left">-->
			<!--<img src="images/fangchong.png" />-->
			<!--<p>防虫</p>-->
		<!--</div>-->
		<!--<div id="function15" class="h-functions-img h-float-left">-->
			<!--<img src="images/guangai.png" />-->
			<!--<p>灌溉</p>-->
		<!--</div>-->
		<!--<div id="function16" class="h-functions-img h-float-left">-->
			<!--<img src="images/shouhuo.png" />-->
			<!--<p>收获</p>-->
		<!--</div>-->
		<!--<div id="function17" class="h-functions-img h-float-left">-->
			<!--<img src="images/baozhuang.png" />-->
			<!--<p>包装</p>-->
		<!--</div>-->
		<!--<div id="function18" class="h-functions-img h-float-left">-->
			<!--<img src="images/jianyan.png" />-->
			<!--<p>检验</p>-->
		<!--</div>-->
	</div>
	<div class="h-bottom">
		<div class="h-back-button">
			返&nbsp;&nbsp;&nbsp;回
		</div>
	</div>
<script src="__PUBLIC__/Agriculture/js/function_main.js"></script>
<script src="__PUBLIC__/Agriculture/js/function_database.js"></script>
</body>
</html>