<!DOCTYPE html>
<html lang="zh-HanS">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/style2.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/hMain.css" />
<script src="__PUBLIC__/Agriculture/js/appcan.js"></script>
<script src="__PUBLIC__/Agriculture/js/appcan.control.js"></script>
<script src="__PUBLIC__/Agriculture/js/appcan.listview.js"></script>
<script src="__PUBLIC__/Agriculture/js/appcan.slider.js"></script>
<script src="__PUBLIC__/Agriculture/js/appcan.tab.js"></script>
<script src="__PUBLIC__/Agriculture/js/appcan.treeview.js"></script>
<script src="__PUBLIC__/Agriculture/js/jquery-2.1.3.js"></script>
<script src="__PUBLIC__/Agriculture/js/hMain.js"></script>
<script src="__PUBLIC__/Agriculture/js/sqlite.js"></script>
<script src="__PUBLIC__/Agriculture/js/photo_main.js"></script>
<script src="__PUBLIC__/Agriculture/js/photo_database.js"></script>
<script src="__PUBLIC__/Agriculture/js/photo_camera.js"></script>
<script src="__PUBLIC__/Agriculture/js/photo_location.js"></script>
</head>
<body>
	<div class="hTop"></div>
	<div class="hTitle">
		<div class="h-Title-p">
			<span class="h-Title-p-front"></span>&nbsp;-&nbsp;<span class="h-Title-p-behind"></span>
		</div>
	</div>
	<div class="h-bg-img">
		<!--<img id="backimg" src="__PUBLIC__/Agriculture/images/back.jpg" />-->
		<div class="h-bg-img-p">
			拍摄任务产品图片和场景
		</div>
	</div>
	<input type="text" id="percent" style="display:none" value="0%"/>
	<div id="c" style="display:none"></div>
	<div id="a" style="display:none"></div>
	<div class="h-photo-take">
		<img id="createimg" src="__PUBLIC__/Agriculture/images/new.png" />
		<div class="h-bottom">
			<textarea id="description" class="h-description-editbox" type="text" placeholder="备注信息"></textarea>
			<div class="h-save-button">
				保&nbsp;&nbsp;&nbsp;存
			</div>
			<div class="h-back-button">
				返&nbsp;&nbsp;&nbsp;回
			</div>
		</div>
	</div>
</body>
</html>