<!DOCTYPE html>
<html lang="zh-HanS">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/main.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/table.css" />
<script src="__PUBLIC__/Agriculture/js/jquery-2.1.3.js"></script>
<script src="__PUBLIC__/Agriculture/js/table.js"></script>
</head>
<body onload="setWindow();" onresize="setWindow();">
	<div id="top"></div>
	<div id="title">
		大葱
	</div>
	<div id="scroll">
		<ul>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
				</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
				</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
				</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
				</li>
			<li>
				<span>20150423第1批</span>
				<span>201504230001</span>
			</li>
			<li>
				<span>20150423第2批</span>
				<span>201504230001</span>
			</li>
		</ul>
	</div>
	<div class="h-bottom">
		<div class="h-back-button">
			返&nbsp;&nbsp;&nbsp;回
		</div>
	</div>
</body>
</html>