<!DOCTYPE html>
<html lang="zh-HanS">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/style2.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/main.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Agriculture/css/item.css" />
<script src="__PUBLIC__/Agriculture/js/jquery-2.1.3.js"></script>
<script src="__PUBLIC__/Agriculture/js/item.js"></script>
<script src="__PUBLIC__/Agriculture/js/sqlite.js"></script>
<script>var loginURL = "{:U('MobileApp/My/index')}";</script>
</head>
<body onload="setWindow();" onresize="setWindow();">
<div id="background">
</div>
<div id="body">
	<div id="title">选择品类</div>
	<div id="select">
		<!--<div id="task1">
			<a href="#">
				<div class="picture">
					<img src="images/huluobo.png1" alt="胡萝卜" title="胡萝卜" />
				</div>
				<div class="name">
					胡萝卜
				</div>
			</a>
		</div>
		<div id="task2">
			<a href="#">
				<div class="picture">
					<img src="images/dacong.png" alt="大葱" title="大葱" />
				</div>
				<div class="name">
					大葱
				</div>
			</a>
		</div>
		<div id="task3">
			<a href="#">
				<div class="picture">
					<img src="images/dabaicai.png" alt="大白菜" title="大白菜" />
				</div>
				<div class="name">
					大白菜
				</div>
			</a>
		</div>
		<div id="task3">
			<a href="#">
				<div class="picture">
					<img src="images/dabaicai.png" alt="大白菜" title="大白菜" />
				</div>
				<div class="name">
					大白菜
				</div>
			</a>
		</div>-->
	</div>
	<div class="h-bottom">
		<div class="h-back-button">
			返&nbsp;&nbsp;&nbsp;回
		</div>
	</div>
</div>
<script src="__PUBLIC__/Agriculture/js/task_main.js"></script>
<script src="__PUBLIC__/Agriculture/js/task_database.js"></script>
</body>
</html>