<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生产环节数据统计</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/table.css" />
    <link rel="stylesheet" href="/resources/css/government/stats.css" />
    <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/echarts/echarts.min.js"></script>
</head>
<body>
<div class="module-box">
    <div class="first-raid">
        <div class="title"><h3>生产环节数据统计</h3></div>
        <div id="product-total-all"></div>
        <div id="code-use-all"></div>
        <div id="io-total-all"></div>
    </div>
</div>
</body>
<script type="text/javascript" src="/resources/js/government/stats.js"></script>
</html>