<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--浏览器内核控制-->
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <!--强制让ie使用edge渲染,如果使用chrome则使用chrome内容渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <!--禁止百度进行手机转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--禁止浏览器从本地计算机的缓存中访问页面内容-->
    <meta http-equiv="Pragma" content="no-cache" />
    <!--
        搜索引擎索引方式
        all：文件将被检索，且页面上的链接可以被查询；
        none：文件将不被检索，且页面上的链接不可以被查询；
        index：文件将被检索；
        follow：页面上的链接可以被查询；
        noindex：文件将不被检索；
        nofollow：页面上的链接不可以被查询。
     -->
    <meta name="robots" content="index,follow" />
    <!--忽略数字自动识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <!--忽略识别邮箱-->
    <meta content="email=no" name="format-detection" />
    <title>产品列表</title>
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/reset.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/mobileApp/css/product/index.css" />
</head>
<body>
<header>
    <a href="javascript:window.history.back(-1);"><img src="__PUBLIC__/mobileApp/img/back.png" alt="后退" /></a>
    <span>产品列表</span>
</header>
<article>
	<div id="loginFirst">
		<h4 id="infomation">尚未登录，请先登录！</h4>
		<a href="http://nongye.zmade.cn/MobileApp/my/register.html">
            <p>注&nbsp;册</p>
        </a>
        <a href="http://nongye.zmade.cn/MobileApp/my/login.html">
            <p>登&nbsp;录</p>
        </a>
	</div>
    <!--<a href="javascript:void(0);">-->
        <!--<section>-->
            <!--<img src="#" alt="图" />-->
            <!--<h4>产品名称</h4>-->
            <!--<p>这是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊是一个产品啊产品啊产品啊产品啊产品啊</p>-->
        <!--</section>-->
    <!--</a>-->
</article>
<footer>
    <a href="../Index/index.html">
        <section>
            <img src="__PUBLIC__/mobileApp/img/homeButton.png" alt="首页" />
            <span>首页</span>
        </section>
    </a>
    <a href="../origin/index.html">
        <section>
            <img src="__PUBLIC__/mobileApp/img/unoriginButton.png" alt="溯源" />
            <span>溯源</span>
        </section>
    </a>
    <a href="http://shequ.zmade.cn">
        <section>
            <img src="__PUBLIC__/mobileApp/img/unchatButton.png" alt="社区" />
            <span>社区</span>
        </section>
    </a>
    <a href="javascript:isLogin();">
        <section>
            <img src="__PUBLIC__/mobileApp/img/unservesButton.png" alt="我的" />
            <span>我的</span>
        </section>
    </a>
</footer>
<script src="__PUBLIC__/mobileApp/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/mobileApp/js/common.js"></script>
<script src="__PUBLIC__/mobileApp/js/product/index.js"></script>
</body>
</html>