<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>窜货设置</title>
    <link rel="stylesheet" href="../../../../resources/css/reset.css" />
    <link rel="stylesheet" href="../../../../resources/css/message.css" />
    <link rel="stylesheet" href="../../../../resources/css/flee/flee.css" />
</head>
<body>
<article>
    <section class="table">
        <div class="top">
            <h3>窜货设置</h3>
            <div class="search"></div>
            <input id="search" type="text" />
        </div>
        <div class="center"></div>
        <div class="bottom">
            <table>
                <tr>
                    <th>图片</th>
                    <th>产品名称</th>
                    <th>产品信息</th>
                    <th>录入时间</th>
                </tr>
                <tr>
                    <td><img src="../../../../resources/images/doge.jpg" alt="img" /></td>
                    <td>doge</td>
                    <td>非常不一般的doge哦</td>
                    <td>2016-3-13</td>
                </tr>
                <tr>
                    <td><img src="../../../../resources/images/doge.jpg" alt="img" /></td>
                    <td>doge</td>
                    <td>非常不一般的doge哦</td>
                    <td>2016-3-13</td>
                </tr>
                <tr>
                    <td><img src="../../../../resources/images/doge.jpg" alt="img" /></td>
                    <td>doge</td>
                    <td>非常不一般的doge哦</td>
                    <td>2016-3-13</td>
                </tr>
            </table>
        </div>
    </section>
</article>
</body>
<script src="../../../../resources/js/jquery.min.js"></script>
<script src="../../../../resources/js/message.js"></script>
</html>