<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>新增政府</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/company/basic.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>政府信息</h3>
        </div>
        <div class="grid">
            <div>
                <label for="province">省</label>
                <select name="province" id="province">
                    <option value="0" selected="selected">加载中...</option>
                </select>
            </div>
            <div>
                <label for="city">市</label>
                <select name="city" id="city">
                    <option value="0" selected="selected">加载中...</option>
                </select>
            </div>
            <div>
                <label for="district">区/县</label>
                <select name="district" id="district">
                    <option value="0" selected="selected">加载中...</option>
                </select>
            </div>
        </div>
        <div class="grid">
            <div>
                <label for="username">登录名</label>
                <input type="text" name="username" id="username"  data-name="登录名" />
            </div>
            <div>
                <label for="password">密码</label>
                <input type="password" name="password" id="password" data-name="密码" />
            </div>
            <div>
                <label for="repassword">确认密码</label>
                <input type="password" name="repassword" id="repassword" data-name="确认密码" />
            </div>
            <div>
                <label for="government">政府名称</label>
                <input type="text" name="government" id="government" data-name="政府名称" />
            </div>
            <div>
                <label for="contact">联系人</label>
                <input type="text" name="contact" id="contact" data-name="联系人" data-noCheck="noCheck" />
            </div>
            <div>
                <label for="phone">手机号码</label>
                <input type="text" name="phone" id="phone" data-name="手机号码" />
            </div>
            <div>
                <label for="regioncode">区号</label>
                <input type="text" name="regioncode" id="regioncode" maxlength="6" data-name="区号" data-noCheck="noCheck" />
            </div>
        </div>
    </section>
    <section>
        <button id="submit">提交</button>
    </section>
</article>
</body>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/setData.js"></script>
<script src="/resources/js/getData_test.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/area.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        var domProvince = methods.getId('province'),
                domCity = methods.getId('city'),
                domDistrict = methods.getId('district'),
                id, province, city, district;

        var area = new Area(JSON.parse(localStorage.getItem('area')));
        domProvince.innerHTML = area.getProvinceOption();
        methods.addEvent(domProvince, 'change', function () {
            domCity.innerHTML = area.getCityOption(domProvince.value);
            domDistrict.innerHTML = null;
            domDistrict.value = "";
        });
        methods.addEvent(domCity, 'change', function () {
            domDistrict.innerHTML = area.getDistrictOption(domProvince.value, domCity.value);
        });
        //验证输入手机格式
        var phone = methods.getId('phone');
        methods.addEvent(phone,'blur',function(){
            var filter  = /^(0|86|17951)?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/;
            if (filter.test(phone.value)){
                return true;
            }
            else {
                new Inform({title: '通知', content: '您输入的手机格式不正确<br /><span class="red">请检查</span>'}).alert();
                return ;
            }
        });
        //限制只能输入数字
        $('#regioncode').on('keypress',function (e){
            var keyCode = event.keyCode;
            if(keyCode >= 48 && keyCode <= 57){
                event.returnValue = true;
            }else{
                event.returnValue = false;
            }
        });
        //限制区号长度只能是六位
        var regioncode = document.getElementById('regioncode');
        $('#regioncode').on('blur',function(){
            var filter  = /\d{6}/g;
            if (filter.test(regioncode.value)){
                return true;
            }
            else {
                new Inform({title:"通知",content:"区号长度必须为6位<br><span class='red'>请检查</span>"}).alert();
                return ;
            }
        });
        methods.addEvent(methods.getId('submit'), 'click', function () {
            var data = new Data();
            var password = methods.getId('password').value;
            var repassword = methods.getId('repassword').value;
            if (!data.getInput()) {
                new Inform({title: '通知', content: '数据项不完整<br /><span class="red">请检查</span>'}).alert();
                return ;
            }
            data.common({province: $("#province").val(), city: $("#city").val(), district: $("#district").val()});
            if(password === repassword){
               methods.ajax({
                   url:"/Admin/Govregister/registerGov",
                   data:data.data,
                   callback:function(data){
                       new Inform({title:"通知",content:"新增成功"}).alert(function(){
                           window.location.reload();
                       })
                   }
               })
           }else{
               new Inform({title:"通知",content:"两次密码输入不一致<br><span class='red'>请检查</span>"}).alert();
           }
        });
    });
</script>
</html>