<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>编辑出库记录</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/edit.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>编辑出库信息</h3>
        </div>
        <div class="grid">
            <div>
                <label for="data-1">箱码</label>
                <input type="text" name="data-1" id="data-1" />
            </div>
            <div>
                <label for="data-2">经销商编号</label>
                <input type="text" name="data-2" id="data-2" />
            </div>
            <div>
                <label for="data-3">出库员</label>
                <input type="text" name="data-3" id="data-3" />
            </div>
        </div>
    </section>
    <section>
        <button>提交</button>
    </section>
</article>
<script src="/resources/js/jquery.min.js"></script>
</body>
</html>