<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>修改经销商信息</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/company/agent.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>经销商信息</h3>
        </div>
        <div class="grid">
            <div>
                <label for="agent_name">经销商名称</label>
                <input type="text" name="agent_name" id="agent_name" data-name="经销商名称" />
            </div>
            <div>
                <label for="agent_address">经销商地址</label>
                <input type="text" name="agent_address" id="agent_address" data-name="经销商地址" />
            </div>
            <div>
                <label for="agent_legalperson">经销商负责人</label>
                <input type="text" name="agent_legalperson" id="agent_legalperson" data-name="经销商负责人" />
            </div>
            <div>
                <label for="agent_phone">经销商电话</label>
                <input type="text" name="agent_phone" id="agent_phone" data-name="经销商电话" />
            </div>
            <div class="agent_products">
                <label for="agent_products">经销商品</label>
                <input type="text" name="agent_products" id="agent_products" data-name="经销商品" />
            </div>
        </div>
    </section>
    <div id="list" class="list">
        <div class="title">
            <h3>代理区域</h3>
        </div>
        <button type="button" id="add"></button>
        <!--<div class="grid">-->
            <!--<div>-->
                <!--<label for="procince0">省</label>-->
                <!--<select name="procince0" id="procince0" class="procince">-->
                    <!--<option value="0">请选择省</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div>-->
                <!--<label for="city0">市</label>-->
                <!--<select name="city0" id="city0" class="city">-->
                    <!--<option value="0">请选择市</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div>-->
                <!--<label for="district0">区/县</label>-->
                <!--<select name="district0" id="district0" class="district">-->
                    <!--<option value="0">请选择区/县</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<button class="delete" id="delete0">-->
                <!--<svg width="14px" height="14px" viewBox="0 0 18 18"><g stroke="none" stroke-width="1"><g transform="translate(-1376.000000, -678.000000)" fill="#000000"><g transform="translate(334.000000, 486.000000)"><g transform="translate(0.000000, 86.000000)"><g transform="translate(1.000000, 64.000000)"><g transform="translate(1050.056349, 51.056349) rotate(-315.000000) translate(-1050.056349, -51.056349) translate(1039.556349, 40.556349)"><rect x="0" y="8.59090909" width="21" height="3.81818182"></rect><rect transform="translate(10.500000, 10.500000) rotate(-270.000000) translate(-10.500000, -10.500000) " x="0" y="8.59090909" width="21" height="3.81818182"></rect></g></g></g></g></g></g></svg>-->
            <!--</button>-->
        <!--</div>-->
    </div>
    <section>
        <button id="submit">提交</button>
    </section>
</article>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/setData.js"></script>
<script src="/resources/js/getData_test.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/area.js"></script>
<script src="/resources/js/company/jquery.js"></script>
<!--<script src="/resources/js/company/edit.js"></script>-->
<script>
    $(document).ready(function(){
        var id=window.location.href.split("?")[1].substring(3);
        var list = $("#list");
        methods.ajax({
            url:'/Company/Agent/edit',
            data: {id: id},
            callback: function (data){
                setData(data.result);
                data = data.result.agent_area;
                var area = new Area(JSON.parse(localStorage.getItem("area")));
                var str = "";
                for(i=0;i<data.length;i++){
                    str += "<div class='grid' id='grid"+i+"'><div><label>省</label><select class='province' id='province"+i+"'><option value='0'>请选择省</option></select></div><div><label>市</label><select class='city' id='city"+i+"'><option value='0'>请选择市</option></select></div><div><label>区/县</label><select class='district' id='district"+i+"'><option value='0'>请选择区/县</option></select></div><button class='delete' id='delete"+i+"'>" + methods.getSvg() +"</button></div>";
                }
                $("#list").append(str);
                var grids = $(".list >.grid");
                var len = grids.length;
                for(var m =0;m<len;m++){
                    domProvince = $("#province"+m);
                    domCity = $("#city"+m);
                    domDistrict = $("#district"+m);
                    domProvince.html(area.getProvinceOption());
                    area.setValue(domProvince, data[m].province);
                    domCity.html(area.getCityOption(domProvince.val()));
                    area.setValue(domCity, data[m].city);
                    domDistrict.html(area.getDistrictOption(domProvince.val(), domCity.val()));
                    area.setValue(domDistrict, data[m].district);
                }
                list.delegate('.province', 'change', function () {
                    var $city = $(this).parent().next().children('select');
                    var $district = $city.parent().next().children('select');
                    $district.html('<option value="-1" disabled="disabled" selected="selected">请选择</option>').val('-1');
                    $city.html(area.getCityOption($(this).val()));
                });

                list.delegate('.city', 'change', function () {
                    var $district = $(this).parent().next().children('select');
                    $district.html(area.getDistrictOption($(this).parent().prev().children('select').val(), $(this).val()));
                });
            }
        });
        $("#add").click(function(){
            var grids = $(".list >.grid");
            var addlen = grids.length+1;
            addstr = "<div class='grid' id='grid"+addlen+"'><div><label>省</label><select class='province' id='province"+addlen+"'><option value='0'>请选择省</option></select></div><div><label>市</label><select class='city addcity' id='city"+addlen+"'><option value='0'>请选择市</option></select></div><div><label>区/县</label><select class='district' id='district"+addlen+"'><option value='0'>请选择区/县</option></select></div><button class='delete' id='delete"+addlen+"'>" + methods.getSvg() +"</button></div>";
            $("#list").append(addstr);
            var domProvince1,domCity1,domDistrict1,addcity;
            domProvince1 = $("#province"+addlen);
            domCity1 = $("#city"+addlen);
            domDistrict1 = $("#district"+addlen);
            var area = new Area(JSON.parse(localStorage.getItem("area")));
            domProvince1.html(area.getProvinceOption());
            domProvince1.change(function () {
                domCity1.html(area.getCityOption(domProvince1.val()));
                domDistrict1.empty();
                domDistrict1.val("请选择");
            });
            domCity1.change(function () {
                domDistrict1.html(area.getDistrictOption(domProvince1.val(), domCity1.val()));
            });
            var arr =["grid","province","city","district","delete"];
            for(var j=0;j<5;j++){
                $("."+arr[j]).attr("id",function(index){
                    return arr[j]+index;
                });
            }
        });
        $("#list").on("click",".delete",function(){
            var self = $(this);
            var grid = self.closest(".grid");
            grid.index()!=2 && grid.remove();
            var grids = $(".list >.grid");
            addlen = grids.length-1;
            var arr =["grid","province","city","district","delete"];
            for(var j=0;j<5;j++){
                $("."+arr[j]).prop("id",function(index){
                    return arr[j]+index;
                });
            }
        });
        methods.addEvent(methods.getId('submit'), 'click', function () {
            var data = new Data();
            if (!data.getInput()) {
                new Inform({title: '通知', content: '数据项不完整<br /><span class="red">请检查</span>'}).alert();
                return ;
            }
            var agent_area = [];
            var grids = $(".list >.grid");
            var submitlen = grids.length;
            for(var i=0;i<submitlen;i++){
                agent_area[i] = {};
                agent_area[i].province = $("#province"+i).val();
                agent_area[i].city = $("#city"+i).val();
                agent_area[i].district = $("#district"+i).val();
            }
            data.common({id: id,'agent_area':agent_area});
            console.log(data.data);
            methods.ajax({
                url: '/Company/Agent/update',
                data: data.data,
                callback: function () {
                    new Inform({title: '通知', content: '修改成功!'}).alert(function () {
                        window.location.href = "/Application/Company/View/Agent/agent.html";
                    });
                }
            });
        });
    })
</script>
</body>