<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>索取质检报告列表</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/table.css" />
</head>
<body>
<article>
    <section class="table">
        <div class="top">
            <h3>质检报告索取记录</h3>
            <div class="search"></div>
            <input id="search" type="text">
        </div>
        <div class="center"></div>
        <div class="bottom">
            <table id="Inspection">
                <thead>
                <tr>
                    <th data-column-id="productnumber">产品批号</th>
                    <th data-column-id="companyname">单位名称</th>
                    <th data-column-id="contact">联系方式</th>
                    <th data-column-id="status" data-converter="status">索取状态</th>
                    <th data-formatter="authenticate" data-sortable="false">修改</th>
                    <th data-formatter="delete" data-sortable="false">删除</th>
                </tr>
                </thead>
            </table>
        </div>
    </section>
</article>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.bootgrid.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/getData.js"></script>
<script src="/resources/js/message.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/marketing/InspectionList.js"></script>
</body>
</html>