header img {
    display: none;
}
.display {
    display: block;
}

article {
    margin-top: 44px;
}
article section h4 {
    font-size: 13px;
    font-weight: normal;
    color: #A4A4A4;
    text-align: center;
    margin: 250px 0 30px;
}
article section p {
    width: 90px;
    line-height: 35px;
    font-size: 15px;
    text-align: center;
    color: #B0CE87;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    margin: 0 0 0 20%;
    display: inline-block;
}
article section a:last-child p {
    float: right;
    color: #7C7C7C;
    margin: 0 20% 0 0;
}