<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>新增质检报告</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>新增质检报告</h3>
        </div>
        <div class="grid">
            <div>
                <label for="data_name">产品</label>
                <select name="data_name" id="data_name">
                    <option disabled="disabled" selected="selected" value="-1">请选择产品</option>
                </select>
            </div>
            <div>
                <label for="batchNumber">批次号</label>
                <input type="text" id="batchNumber" name="batchNumber">
            </div>
            <div>
                <label for="year">年份</label>
                <input type="text" id="year" name="year">
            </div>
            <div>
                <label for="inspectionImage"  style="width:100px;">质检报告图片</label>
                <button class="portrait" type="button" name="inspectionImage" id="inspectionImage">点击上传</button>
            </div>
        </div>
    </section>
    <section>
        <button id="submit">提交</button>
    </section>
</article>
</body>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.bootgrid.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/getData_test.js"></script>
<script>
    var imgSrc = {};
    $(document).ready(function(){
        $(".portrait").click(function(){
            new ImgUpload({title: '上传图片', name: $(this).attr('name')}, $(this).val()).alert();
        });
        var select = document.getElementById('data_name');
        select.innerHTML = null;
        //产品列表显示
        methods.ajax({
            url: "/Product/api/fieldsList",
            callback : function(data){
                data = data.result;
                var str = "<option value='0' disabled='disabled' selected='selected'>--请选择产品--</option>";
                for(var i = 0;i < data.length;i++){
                    str +="<option value='"+data[i].productid+"'>"+data[i].productname + "-" + data[i].guige+"</option>";
                }
                select.innerHTML += str;
            }
        });
        methods.addEvent(methods.getId('submit'),'click',function(){
            var data = new Data();
            if(!data.getInput()){
                new Inform({title:'通知',content:'数据项不完整<br><span class="red">请检查</span>'}).alert();
                return ;
            }
            var _data ={
                productid:$("#data_name").val(),
                batchNumber: $("#batchNumber").val(),
                year: $("#year").val(),
                inspectionImage: $("#inspectionImage").val()
            };
            methods.ajax({
                url:"新增接口",
                data:_data,
                callback:function(data){
                    new Inform({title:'通知',content:'新增成功'}).alert(function(){
                        window.location.href = "/Application/Process/View/Index/Inspection.html";
                    });
                }
            });
        });
    });

    var getImgUpload = function (data) {
        for (var i in data.result) {
            imgSrc[i] = data.result[i].savepath + data.result[i].savename;
            $("#" + i).val(imgSrc[i]).addClass("getImg").html("已上传");
        }
        $(".popMsg").remove();
    };
</script>
</html>