<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>修改生产环节</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>企业生产环节信息</h3>
        </div>
        <div class="grid">
            <div>
                <label for="function_image">图片</label>
                <button class="portrait" type="button" name="function_image" id="function_image">点击上传</button>
            </div>
            <div>
                <label for="function_name">生产环节名称</label>
                <input type="text" name="function_name" id="function_name" data-name="生产环节名称" />
            </div>
        </div>
    </section>
    <section>
        <button id="submit">提交</button>
    </section>
</article>
</body>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.bootgrid.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/setData.js"></script>
<script src="/resources/js/getData_test.js"></script>
<script src="/resources/js/process/editprocessDeploy.js"></script>
</html>