<!doctype html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="/resources/css/reset.css" />
		<link type="text/css" rel="stylesheet" href="/resources/css/zTreeStyle.css" />
		<link type="text/css" rel="stylesheet" href="/resources/css/admin/menu.css" />
	</head>
	<body>
		<article>
			<section>
				<div class="ztree" id="nodes"></div>
				<div class="ztree" id="menus"></div>
				<div id="icon" class="hide">
					<input type="file" id="file" class="hide" />
					<div>当前选择图标：</div>
					<div id="preview"></div>
				</div>
			</section>
		</article>
		<script type="text/javascript" src="/resources/js/jquery.min.js"></script>
		<script type="text/javascript" src="/resources/js/jquery.ztree.all.min.js"></script>
		<script type="text/javascript" src="/resources/js/admin/menu.min.js"></script>
	</body>
</html>
