<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>视频监管</title>
</head>
<body>
    <article>
        <section>
            <div class="title">
                <h3>视频监管</h3>
            </div>
            <div class="left">
                <ul>
                    <li class="li" id="li1">苹果生产视频监管</li>
                    <li class="li" id="li2">苹果生产视频监管</li>
                    <li class="li" id="li3">苹果生产视频监管</li>
                    <li class="li" id="li4">苹果生产视频监管</li>
                    <li class="li" id="li5">苹果生产视频监管</li>
                    <li class="li" id="li6">苹果生产视频监管</li>
                </ul>
            </div>
            <div class="center">

            </div>
            <div class="right"></div>
        </section>
    </article>
</body>
</html>