body,p,span,div,img,ul,li,h2,article,section,h3,header,table, tr, td,a{margin:0; padding:0;}
*{font-family:"Microsoft YaHei" !important;}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#535353;
}
img{
    border:0;
}
body{
    background:#f5f5f5;
    color:#535353;
}
header{
    margin:20px 10px;
    font-size:24px;
    text-align:center;
}
article > div{
    background: #fff;
    margin-top:10px;
}
article section h2{
    text-align:center;
    color:#535353;
    font-size:18px;
    font-weight:normal;
    margin:10px 0;
}
article .reportContent textarea{
    resize: none;
    margin-top:10px;
}
article .reportContent textarea,article .reportTel input{
    width: 92%;
    font-size: 16px;
    border:0;
    color: rgba(83, 83, 83, 0.5);
    padding:15px 0 15px 30px ;
}
/*article .reportPhoto #localImag{*/
    /*background:#fff;*/
    /*width:92%;*/
    /*height:112px;*/
    /*padding:10px 0 15px 30px ;*/
/*}*/
/*article .reportPhoto h2 span{*/
    /*color: rgba(83, 83, 83, 0.5);*/
    /*font-size:16px;*/
/*}*/
article .submit,article .phone img{
    height:32px;
    border:0;
}
/*article .btn{*/
    /*width:60px;*/
    /*height:60px;*/
    /*background:url("/resources/images/app/report/uploadImg.png" )no-repeat  left center/100% 100%;*/
    /*border:0;*/
    /*display:block;*/
    /*margin-top:30px;*/
/*}*/
/*article #localImag input{*/
    /*opacity:0;*/
    /*float:left;*/
    /*width:60px;*/
    /*height:0;*/
/*}*/

article .submit{
    width:100%;
    background:url("/resources/images/app/report/submit.png" )no-repeat  center center/80% 100%;
    margin-top:50px;
}
article .phone img{
    width:80%;
    margin:10px auto;
    display:block;
}