<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>企业注册成功跳转页面</title>
    <link rel="stylesheet" href="/resources/css/welcome/registerSuccess.css">
</head>
<body>
    <header>
        <div>
            <span>欢迎使用</span>
            <h2>质码产品质量追溯管理系统</h2>
            <div>
                <p class="p1">质码系统以二维码为入口，</p>
                <p>实现产品全程防伪溯源、防窜货追踪，</p>
                <p class="p3">通过大数据分析平台，精准投放营销活动。</p>
                <p class="p4">
                    <img class="status" src="/resources/images/welcome/status.png" alt="企业认证" onclick="window.location.href='/Application/Company/View/Basic/basic.html'">
                    <span>咨询电话：029-87545355</span>
                </p>
            </div>
           <div>
               <img class="element" src="/resources/images/welcome/element.png" alt="元素">
           </div>
        </div>
    </header>
    <article>
        <section class="center">
            <h2>以系统一体化为中心</h2>
            <p>一站式解决企业产品产业链问题，</p>
            <p>为企业提供从基础数据、生产信息、物流信息的管理，</p>
            <p>到防伪防窜、溯源追踪、移动营销、用户互动的一整套解决方案。</p>
            <img src="/resources/images/welcome/unify.jpg" alt="一体化">
        </section>
        <p class="line"></p>
        <section class="center">
            <h2>三大核心功能</h2>
            <p>溯源系统、防伪系统、防窜货系统，</p>
            <p>帮企业完成从"摇篮"到"终端"的产品全程管理。</p>
            <img src="/resources/images/welcome/threecore.jpg" alt="三大核心功能">
        </section>
        <p class="line"></p>
        <section class="center">
            <h2>营销增值服务</h2>
            <p>以扫码红包营销管理企业增加流量，</p>
            <p>帮助企业获得强大的市场转化能力。</p>
            <img src="/resources/images/welcome/marketing.jpg" alt="营销增值服务">
        </section>
    </article>
    <footer>
        <img src="/resources/images/welcome/footerbtn.png" alt="企业认证开通试用" onclick="window.location.href='/Application/Company/View/Basic/basic.html'">
        <p>咨询电话：029-87545355</p>
        <p>地址：西安高新区锦业路锦业时代B2-1707</p>
    </footer>
</body>
</html>