<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>修改仓库</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>仓库信息</h3>
        </div>
        <div class="grid">
            <div>
                <label for="warehouse_name">仓库名称</label>
                <input type="text" name="warehouse_name" id="warehouse_name" data-name="仓库名称" />
            </div>
            <div>
                <label for="warehouse_address">仓库地址</label>
                <input type="text" name="warehouse_address" id="warehouse_address" data-name="仓库地址" />
            </div>
            <div>
                <label for="warehouse_manager">仓库负责人</label>
                <input type="text" name="warehouse_manager" id="warehouse_manager" data-name="仓库负责人" />
            </div>
            <div>
                <label for="warehouse_phone">仓库电话</label>
                <input type="text" name="warehouse_phone" id="warehouse_phone" data-name="仓库电话" />
            </div>
        </div>
    </section>
    <section>
        <button id="submit">提交</button>
    </section>
</article>
</body>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/setData.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/getData_test.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/company/editWarehouse.js"></script>
</html>