<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>增码</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/table.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3 class="basicData">新增码量</h3>
        </div>
        <div class="grid">
            <div class="addcode">
                <label for="qrcode_counts">新增码量</label>
                <input type="text" name="qrcode_counts" id="qrcode_counts" data-name="新增码数"  />
                <button id="submit">加码</button>
            </div>
        </div>
    </section>
</article>
<article>
    <section class="table">
        <div class="top">
            <h3>加码记录</h3>
            <div class="search"></div>
            <input id="search" type="text" />
        </div>
        <div class="center"></div>
        <div class="bottom">
            <table id="addCode">
                <thead>
                <tr>
                    <th data-column-id="operate_time" data-converter='datetime'>加码时间</th>
                    <th data-column-id="qrcode_counts" >加码数量</th>
                    <th data-column-id="qrcode_all" >总码量</th>
                </tr>
                </thead>
            </table>
        </div>
    </section>
    <section></section>
</article>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/message.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/getData.js"></script>
<script src="/resources/js/jquery.bootgrid.min.js"></script>
<script src="/resources/js/admin/addCode.js"></script>
</body>
</html>