<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>充值</title>
    <link rel="stylesheet" href="/resources/css/reset.css" />
    <link rel="stylesheet" href="/resources/css/message.css" />
    <link rel="stylesheet" href="/resources/css/add.css" />
    <link rel="stylesheet" href="/resources/css/table.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3 class="basicData">基础数据</h3>
        </div>
        <div class="grid">
            <div class="recharge">
                <label for="charge">充值金额：</label>
                <input type="text" name="recharge" id="charge" data-name="充值金额" />
                <button id="submit">充值</button>
            </div>
        </div>
    </section>
</article>
<article>
    <section class="table">
        <div class="top">
            <h3>充值记录</h3>
            <div class="search"></div>
            <input id="search" type="text" />
        </div>
        <div class="center"></div>
        <div class="bottom">
            <table id="recharge">
                <thead>
                <tr>
                    <th data-column-id="recharge_time" data-converter='datetime'>充值时间</th>
                    <th data-column-id="recharge_count" data-converter="currency">充值金额</th>
                </tr>
                </thead>
            </table>
        </div>
    </section>
    <section></section>
</article>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.bootgrid.min.js"></script>
<script src="/resources/js/methods.js"></script>
<script src="/resources/js/message_test.js"></script>
<script src="/resources/js/getData_test.js"></script>
<script src="/resources/js/admin/recharge.js"></script>
</body>
</html>