.textareawidth {
    width: 80% !important;
    font-size: 18px;
}
.w-qiyema {
    width: 20% !important;
}
#qiyema {
    width: 51% !important;
    padding: 0 0 0 10%;
}
#qiyema img {
    width: 100% !important;
}

textarea {
    padding: 10px 10px;
    cursor: auto;
}
.checkboxLabel {
    width: 90%!important;
    text-align: left!important;
    margin: 0 5%!important;
}
.checkboxLabel input {
    width: 10%;
    font-size: 14px;
    border: 0;
    height: 30px;
    margin: 10px 0 9px;
    padding: 0 2%;
}
.peizhi > div {
    width: 20% !important;
}