<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>修改生产信息</title>
    <link rel="stylesheet" href="../../../../resources/css/reset.css" />
    <link rel="stylesheet" href="../../../../resources/css/add.css" />
</head>
<body>
<article>
    <section>
        <div class="title">
            <h3>基础数据</h3>
        </div>
        <div class="grid">
            <div>
                <label for="data-1">上传头像</label>
                <button class="portrait" type="button" name="data-1" id="data-1">点击上传</button>
            </div>
            <div>
                <label for="data-2">用户姓名</label>
                <input type="text" name="data-2" id="data-2" />
            </div>
            <div>
                <label for="data-3">注册时间</label>
                <input type="text" name="data-3" id="data-3" />
            </div>
        </div>
    </section>
    <section>
        <div class="title">
            <h3>详细数据</h3>
        </div>
        <div class="grid">
            <div>
                <label for="area-1">区域数据</label>
                <textarea name="area-1" id="area-1" cols="30" rows="3"></textarea>
            </div>
            <div>
                <label for="area-2">区域数据</label>
                <textarea name="area-2" id="area-2" cols="30" rows="3"></textarea>
            </div>
        </div>
    </section>
    <section>
        <div class="title">
            <h3>图片上传</h3>
        </div>
        <div class="grid">
            <div>
                <img src="../../../../resources/images/nophoto.jpg" alt="default-photo" />
                <img src="../../../../resources/images/nophoto.jpg" alt="default-photo" />
                <img src="../../../../resources/images/nophoto.jpg" alt="default-photo" />
                <img src="../../../../resources/images/nophoto.jpg" alt="default-photo" />
            </div>
        </div>
    </section>
    <section>
        <button>提交</button>
    </section>
</article>
</body>
<script src="../../../../resources/js/jquery.min.js"></script>
</html>